.main-page{
    width:100vw;
    height:100vh;
    display: flex;
    
    .page-section{
        height: 100%;
        position: relative;
        width:calc(100% - 120px);
        display: flex;
        flex-direction: column;
        
        .info-section{
            width:100%;
            height: 95px;
        
           
        }
        .lower-section{
            width:100%;
            height: calc(100% - 95px);
            
           
        
        }

    }




}