.card-row{


.challenge-card{
    width:508px;
    height: 247px;
    border-radius: 20px;
    display: flex;
    .info-pane{
        width:283px;
        display:flex;
        flex-direction: column;

    }
    .image-pane{
        width:225px;
        border-radius: 20px;
    }

}


.explore-card{
    width:439px;
    height: 508px;
    display: flex;
    flex-direction: column;
}

}