
.nav{
    width: 120px;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-bar{
        height: 70%;
        width: 75px;
        border-radius: 80px;
        background-color: #D9D9D9;

    }
}